    <div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

        <div class="container">
            <header class="page-header" style="padding:0">

            </header>
            <div class="row row-col-border" data-gutter="60">
                <div class="col-md-3">          
                <%= render "common/leftsalebanner" %>
                </div>
                <div class="col-md-9">

                  <h1 class="ui center aligned icon header" style="font-size:28px;">
 
    <div class="content">
      關於我們
    </div>
  </h1>
  <div class="ui segments" >
    <div class = "ui segment">
    <div class="ui horizontal divider">About Us</div>
Weisu-germanysky 專業德國代購<br>
負責人: Weisu<br>
E-Mail :ge.sky7963@gmail.com<br>
負責人 Weisu<br>
師大中研所畢業   以前的職業是教師<br>
 weisu和先生常年定居德國   <br>
現在專門辦理德國代購 .團購服務<br>
<br>
代購服務秉持的信念是   對客戶認真負責   價格要求平實不浮誇 <br>
有跟過我們團的人都知道 <br>
所以會介紹親朋好友一起來購買-- 大家能以平時的價格  買到德國的好物<br>
沒有來過的  歡迎也來試試看喔<br>
<br>
weisu和所有的媽媽一樣   很重視孩子的教育和健康 <br>
 在德國重視自然健康的生活環境中  每每發現有益孩子教育和家人健康的事物<br>
很樂意推介出和大家分享  <br>
部落格中  我常常會有文章介紹  歡迎常來逛逛  您一定會有收穫喔<br>
    </div>
    </div>

                </div>
            </div>
        </div>


        <div class="gap"></div>
        <%= render "common/footerbar" %>
    </div>