<div class="ui container">
  <h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      修改付款方式
    </div>
  </h1>
<div class="ui horizontal divider">Payment Edit</div>
<%= render 'form' %>
