<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>GermanySky</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
<tr>
<td bgcolor="#000000" style="padding: 30px 30px 30px 30px;border-width: 0px;">
</td>
</tr>
 <tr style="border-width: 1px;">
<td  align="center" bgcolor="#70bbd9" style="padding: 0 0 0 0; border-width: 1px;">
 <img src="https://dry-atoll-22575.herokuapp.com/assets/mymytw-c27e876c534c138672fbc446f7abfab49dcc68c2fa35cdf095b94b0b91507b0e.png" alt="Creating Email Magic" width="600" style="display: block;" />
</td>
 </tr>
 <tr style="border-width: 0px;">
  <td bgcolor="#930000" style="padding: 40px 30px 40px 30px; border-width: 0px;">
<table bgcolor="#B3D9D9" border="1" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td style="color: #153643; font-family: Arial, sans-serif; font-size: 14px;">
   親愛的 <%=@account.name %> 您好。
  </td>
 </tr>
 <tr>
  <td style="padding: 20px 0 30px 0;line-height: 24px;">
   <%=@content.html_safe %>
  </td>
 </tr>
 <tr>
  <td style="color: #153643; font-family: Arial, sans-serif; font-size: 8px;" align='center' valign="middle">
   這是一封系統自動寄發的通知信，請勿回覆此信件。
  </td>
 </tr>
</table>
  </td>
 </tr>
 <tr>
<td bgcolor="#000000" style="padding: 30px 30px 30px 30px;border-width: 0px;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td style="color: #F0F0F0; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;" align='center' valign="middle">
   <a href="http://localhost:3000/" style="color:white;"> GermanySky </a>	
  </td>
 </tr>
</table>
</td>
 </tr>
</table>

<style style="text/css">
a{text-decoration:none;}
a:hover{text-decoration:underline;}
</style>