<%= form_for(@newsboard) do |f| %>
<div class="ui stackable one column centered grid">
  <div class="fourteen wide column">
    <div class="ui large form" style="text-align:left;">
      
      <div class="required field">
        <label>標題 Title：</label>
        <%= f.text_field :title, placeholder: "請輸入標題" %>
      </div>
      <div class="required field">
        <label>副標題 Subtitle</label>
        <%= f.text_field :subtitle, placeholder: "請輸入敘述" %>
      </div>
      <div class="required field">
        <label>內容 Content</label>
        <%= f.text_area :content, placeholder: "請輸入內容"  %>
      </div>
    </div>
    <br>
    <div>


    <div class="ui divider"></div>
    <button id="newsboard_form_submit" class="ui teal basic button">
      <i class="write icon"></i>送出
    </button>

  </div>
</div>



<% end %>
<script type="text/javascript">
$(function(){

  $('form').submit(function() {
    var valuesToSubmit = $(this).serialize();
    $("#newsboard_form_submit").addClass("loading");
    console.log($(this).attr('action'));
    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        type: 'POST',
        processData: false,
        contentType: false,
        data: new FormData(this)
    }).success(function(upload_result){
        console.log(upload_result);
        if(upload_result == "success" ){
          window.location.replace("http://"+location.host+"/newsboards");
        }
    }).fail(function(e) {
        console.log(e);
    }).done(function(){
      $("#newsboard_form_submit").removeClass("loading");
    });
    return false; // prevents normal behaviour
  });
});

function ValidateNumber(e, pnumber)
{
    if (!/^\d+$/.test(pnumber))
    {
        $(e).val(/^\d+/.exec($(e).val()));
    }
    return false;
}
</script>
