<div class="ui container">
  <h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
 
    <div class="content">
      新增品牌
    </div>
  </h1>
<div class="ui horizontal divider">Brand New</div>

        <div id="fields">
    
            <label for="field1">上傳圖片 Upload Photo</label>
            <div class="controls" id="fileprofs"> 
                  <div id="field" class="col-md-7"><input id="field1" name="brand[file]" type="file" /></div>
                <br>
            </div>

        </div>

<%= render 'form' %>
