<footer class="main-footer">
        <div class="container">
            <div class="row row-col-gap" data-gutter="60">
                <div class="col-md-3">
                    <h4 class="widget-title-sm">Germanysky</h4>
                    <p>代購服務秉持的信念是   對客戶認真負責   價格要求平實不浮誇 
有跟過我們團的人都知道 
所以會介紹親朋好友一起來購買-- 大家能以平時的價格  買到德國的好物
沒有來過的  歡迎也來試試看喔</p>
                    <ul class="main-footer-social-list">
                        <li>
                            <a class="fa fa-facebook" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="widget-title-sm">商品標籤</h4>
                    <ul class="main-footer-tag-list">
                        <li><a href="#">New Season</a>
                        </li>
                        <li><a href="#">Watches</a>
                        </li>
                        <li><a href="#">woman</a>
                        </li>
                        <li><a href="#">classic</a>
                        </li>
                        <li><a href="#">modern</a>
                        </li>
                        <li><a href="#">blue</a>
                        </li>
                        <li><a href="#">shoes</a>
                        </li>
                        <li><a href="#">running</a>
                        </li>
                        <li><a href="#">jeans</a>
                        </li>
                        <li><a href="#">sports</a>
                        </li>
                        <li><a href="#">laptops</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="widget-title-sm">電子報</h4>
                    <form>
                        <div class="form-group">
                            <label>輸入您的電子郵件以收到最新商品</label>
                            <input class="newsletter-input form-control" placeholder="Your e-mail address" type="text" />
                        </div>
                        <input class="btn btn-primary" type="submit" value="Sign up" />
                    </form>
                </div>
            </div>

        </div>
    </footer>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright &copy; <a href="#">TheBox</a> 2014. Designed my remtsoy. All rights reseved</p>
                </div>
            </div>
        </div>
    </div>