<div class="gap gap-small"></div>
    <div class="banner banner-o-hid" style="background-image:url(<%= asset_path '550x292.png' %>);">
        <a class="banner-link" href="#"></a>
        <div class="banner-caption-left">
            <h5 class="banner-title">夏日強打促銷優惠</h5>
            <p class="banner-desc">買三件以上一件199！</p>
            <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
            </p>
        </div>
        <img class="banner-img" src="<%= asset_path '21-i.png' %>" alt="Image Alternative text" title="Image Title" style="bottom: -29px; right: -51px; width: 120px;" />
    </div>