<div class="global-wrapper clearfix" id="global-wrapper">
        <%= render "common/theboxheader" %>

<div class="container">

<h1 class="ui center aligned icon header" style="font-size:28px;margin:20px 0 22px 0;">
    <div class="content">
      註冊帳號
    </div>
  </h1>
<div class="ui horizontal divider">Register</div>
<div class="ui segment" >
<%= render 'registerform' %>



</div>


  <div class="gap"></div>
    <%= render "common/footerbar" %>
</div>